@font-face {
        font-family: 'Mojangles';
            src: url('Mojang-Regular.ttf');
}



body{
    font-family: 'Mojangles';
    color:rgb(0, 0, 0);
    background-image:url(dirt.jpeg); 
    text-align: center;
    line-height: 2;
}

h1,h2,h3,p{
    border: 2px solid #333;
  padding: 10px;
  margin: 15px 0;
  background-color: #f0f0f0;
  border-radius: 5px; 
  width: fit-content;
  margin: 0 auto;
}

