@font-face {
        font-family: 'Mojangles';
            src: url('Mojang-Regular.ttf');
}



body{
    font-family: 'Mojangles';
    color:white;
    background-image:url(dirt.jpeg); 
    text-align: center;
    line-height: 2;

}